{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href={% static "css/notepad.css" %} />
    <!-- <link rel="stylesheet" href="../static/css/notepad.css"> -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto|Open+Sans|Lato|Montserrat|Source+Sans+Pro|Raleway|Noto+Sans|Roboto+Mono|Merriweather|PT+Serif|Ubuntu|Nunito|Oswald|Merriweather+Sans|Khand|Mukta|Teko|Rajdhani|Hind|Kalam&display=swap"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
    <meta property="og:locale" content="en_US" />
   
  </head>
  <body class="w-full h-screen bg-zinc-900 text-white">
    <div class="tools">
      <div class="tool-button w-full flex justify-between items-center p-8 bg-zinc-800 h-8 ">
        <button onclick="cutText()" title="Cut">
          <i class="fas fa-cut"></i><span class="button-label">Cut</span>
        </button>
        <button onclick="copyText()" title="Copy">
          <i class="fas fa-copy"></i><span class="button-label">Copy</span>
        </button>
        <button onclick="pasteText()" title="Paste">
          <i class="fas fa-paste"></i><span class="button-label">Paste</span>
        </button>
        <button onclick="showReplacePopup()" title="Replace">
          <i class="fas fa-exchange-alt"></i
          ><span class="button-label">Replace</span>
        </button>
        <button onclick="selectAllText()" title="Select All">
          <i class="fas fa-select"></i
          ><span class="button-label">Select All</span>
        </button>
        <button onclick="deleteAllText()" title="Delete All">
          <i class="fas fa-trash-alt"></i
          ><span class="button-label">Delete All</span>
        </button>
        <button onclick="printText()" title="Print">
          <i class="fas fa-print"></i><span class="button-label">Print</span>
        </button>
        <div class="dropdown">
          <button onclick="toggleShareMenu()" class="dropbtn" title="Share">
            <i class="fas fa-share-alt"></i
            ><span class="button-label">Share</span>
          </button>
          <div id="shareMenu" class="dropdown-content">
            <a href="#" onclick="shareText('facebook')"
              ><i class="fab fa-facebook"></i> Facebook</a
            >
            <a href="#" onclick="shareText('email')"
              ><i class="fas fa-envelope"></i> Email</a
            >
            <a href="#" onclick="shareText('whatsapp')"
              ><i class="fab fa-whatsapp"></i> WhatsApp</a
            >
            <a href="#" onclick="shareText('twitter')"
              ><i class="fab fa-twitter"></i> Twitter</a
            >
            <a href="#" onclick="shareText('linkedin')"
              ><i class="fab fa-linkedin"></i> LinkedIn</a
            >
          </div>
        </div>
        <button onclick="zoomIn()" title="Zoom In">
          <i class="fas fa-search-plus"></i
          ><span class="button-label">Zoom In</span>
        </button>
        <button onclick="zoomOut()" title="Zoom Out">
          <i class="fas fa-search-minus"></i
          ><span class="button-label">Zoom Out</span>
        </button>
        <button onclick="undoText()" title="Undo">
          <i class="fas fa-undo"></i><span class="button-label">Undo</span>
        </button>
        <button onclick="redoText()" title="Redo">
          <i class="fas fa-redo"></i><span class="button-label">Redo</span>
        </button>
      </div>
    </div>
    <div class="m-1 p-4 mt-8">
      
<h1 class="text-2xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl"><span class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400 ">Adaptive AI</span> Better reasoning skill</h1>
<p class="text-lg font-thin text-zinc-600">Our AI tutor adapts to your coding skills, providing personalized challenges and feedback. Improve your skills with every answer and get real-time scores to track your progress. Experience a smarter way to learn coding.</p>

    </div>
    <div class="notepad-container w-full flex gap-8">
      <div class="w-1/2  p-4 bg-zinc-800 rounded-md min-h-80">
        {% if question is not none %}
          <h1 class="text-3xl"> {{ question.text }}</h1>
        {%else%}
          <h1 class='text-3xl'> Generation Failure</h1>  
        {% endif %}
      </div>
      <form class="w-1/2 h-96" method="post" action="{% url 'forms_submit' question.id %}">
        {% csrf_token %}
            <textarea id="notepad" name="text_data" placeholder="Start typing..." class="w-full h-64 p-2 border text-black"></textarea>
            <input type="submit" value="Submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded m-2">
           
      </form>  

    </div>
    <script src={% static "js/notepad.js" %}></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </body>
</html>
